.container {
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
 
}

h1 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.bio {
  font-size: 18px;
hyphens: auto;
  color: white;
}

.timeline-container {
  justify-content: center;
  align-items: center;
}

/* Media Queries */

/* For tablets and smaller devices */
@media (max-width: 768px) {
  h1 {
      font-size: 24px;
  }

  .bio {
    color: white;
    hyphens: auto;
text-align: justify;
   hyphens: auto;
  }
.container{


}
  .timeline-container {
      padding: 10px;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  h1 {
      font-size: 20px;
  }

  .bio {
    hyphens: auto;
    color: white;
  }

  .timeline-container {
      padding: 5px;
  }
}



@media (max-width: 768px) {
    
  .bio {
    hyphens: auto;
    color: white;
  }

  .container{
   width: 100%;
  }

 }
@media (max-width: 992px) {
    
  .bio {
    hyphens: auto;
    color: white;
  }

   .container{
    width: 100%;
   }

  }


  

  @media (max-width: 1200px) {
    
    .bio {
      hyphens: auto;
      color: white;
    }
  
    .container{
     width: 100%;
    }
 
   }
 