

.image {
    height: 150%;
    }
    
@media (max-width: 768px) {
    .image {
        height: 120%;
width: 120%;
    }

  }
  
  
  @media (max-width: 480px) {
    
  
    .image {
        height: 120%;
width: 120%;
    }
    .description{
        margin-top: 10%;
    
    }
    
    

  }

  @media (max-width: 768px) {
    
    .image {
        height: 120%;
width: 120%;
    }
    .description{
        text-align: justify;        
        hyphens: auto;

    }
  
   }
  @media (max-width: 992px) {
      
    .image {
        height: 120%;
width: 120%;
    }
    .description{
        text-align: justify;        
        hyphens: auto;

    }
  
    }
  
  
    
  
    @media (max-width: 1200px) {
      
        .image {
            height: 120%;
    width: 120%;
        }
        .description{

text-align: justify;        
hyphens: auto;

        }
       
     }
  